@{
    ViewBag.Title = "Meiest";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f9f9f9;
        color: #333;
        margin: 20px;
    }

    h2 {
        font-size: 2rem;
        color: #007bff;
        margin-bottom: 10px;
        border-bottom: 2px solid #007bff;
        padding-bottom: 5px;
    }

    h3 {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 20px;
    }

    p {
        font-size: 1rem;
        color: #333;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

        a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <a href="https://www.tthk.ee/">TTHK</a>
</p>
