@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sõpruse pst 182<br />
    Tallinn, Harjumaa 13424<br />
    <abbr title="Telefon">T:</abbr>
    (+372)654 2833
</address>

<address>
    <strong>Vastuvõtt:</strong>   <a href="mailto:vastuvott@tthk.ee">vastuvott@tthk.ee</a><br />
    <strong>Info:</strong> <a href="mailto:info@tthk.ee">info@tthk.ee</a>
</address>