@{
    ViewBag.Title = "Pealeht";
}

<div class="jumbotron">
    <h1>Pidu</h1>
    <p class="lead">Pidu on sotsiaalne kogunemine, mis oli algselt mõeldud tähistamiseks ja meelelahutuseks.
    Kuigi peol on mõned ühised jooned usuliste ja hooajaliste festivalidega, väljendab termin "pidu" tavaliselt väiksemat sorti kogunemist isiklikel, rohkem kui kultuurilistel, põhjustel, isegi kui põhjus on lihtsalt lustimissoov. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dressikood</h2>
        <p>
            Riietuskood on reeglite kogum, mis on sageli kirjas selle kohta, milliseid riideid peavad kandma inimrühmad.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mis toimub?</h2>
        <p>Peod annavad võimalusi mitut liiki sotsiaalseks suhtluseks, sõltudes osavõtjatest ja nende arusaamadest vastuvõetavast käitumisest vastavale sündmusele.
        Tulemusena kalduvad need tugevdama kultuurilisi ja/või kontra-kultuurilisi nõudeid, kuigi mõnikord juhtub see, andes pool-vastuvõetavat sotsiaalset konteksti, et rikkuda mõnda neist nõuetest. </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keda ootame?</h2>
        <p>Kõike kellel on kutse!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>